*, *::before, *::after {
    box-sizing: border-box;} 

.awesome {
    width: 1240px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
}
.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 40px 80px;
    align-items: center;
   
    .header-object{
    display:flex;
    gap: 10px;
    } 

    .AU-name{
        color: #647B64;
    }
    
.header-link-bar{
    color: #647B64;
    ;
    @media screen and (max-width: 650px){
    display: none;}

    .header-link{
    color:#647B64;
    text-decoration: none;
    padding: 15px;
}
}
}

.hero-section {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
   
    .hero-container{
        display: flex;
        padding: 90px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        column-gap: 20px;
        @media screen and (min-width: 650px){
        width: 600px;}

    .hero-topic{
    font-size: 20px;
    text-transform: capitalize;
}

    .main-button {
        background-color: #647B64;
        color:antiquewhite;
        padding: 20px 20px;
        width: 200px;
    }
}
}

.tennis-image {
   object-fit: cover;
   max-height: 400px;
}

.wraper {display: grid;
    grid-row: 1fr 1fr ;
    padding: 40px;

    @media screen and (min-width: 650px){  
    grid-template-columns: 2fr 3fr;
    padding: 100px;
    gap: 50px;}

    .wraper-about {
        width: 350px;
    
        .wraper-about-topic {
        font-size: 20px;text-transform:uppercase;
        color: rgb(190, 157, 117);
     }   
     .wraper-about-greeting {
        font-size: 30px;
        color: #647B64;
        text-transform: uppercase;
     }
     .main-button {
        background-color: #647B64;
        color:antiquewhite;
        padding: 20px 20px;
       
        .main-button {
            background-color: #647B64;
            color:antiquewhite;
            padding: 20px 20px;
            width: 200px;
        }
    }
    }
    
    .wraper-choice {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-content: space-between;

       .choice {
        width: 225px;
        height: 152px;

        .choice-car{
            background-color: #647B64;
            padding: 8px;
            border-radius: 10px;
        }

        .choics-way {
            font-size: 25px;
            margin: 3px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
            font-weight: 500;
            color: #3a473a;
        }

        .choice-info {
            font-size: 15px;
            color: #617261;
        }
       } 
    }
}
